body {
  background: white;
  font-family: "EB Garamond", serif;
  color: #000;
}
h1 {
  text-align: left;
  line-height: 1;
  padding: 0px;
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  color: black;
}

p {
  font-size: 15px;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  font-weight: 300;
  color: black;
}

a {
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

button {
  background: white;
  color: #000;
  display: block;
  margin-top: 5px;
  margin: 0 auto;
  font-size: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
  transition: all 200ms ease-out;
  font-family: "DM Serif Display", serif;
}

.button {
  background: white;
  color: #000;
  display: block;
  margin-top: 5px;
  margin: 0 auto;
  font-size: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
  transition: all 200ms ease-out;
  font-family: "DM Serif Display", serif;
}

.buttonsearch {
  background: white;
  color: #000;
  display: block;
  margin-top: 5px;
  margin: 0 auto;
  font-size: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
  transition: all 200ms ease-out;
  font-family: "DM Serif Display", serif;
}

button:hover {
  cursor: pointer;
  background: #fbf8f5;
  color: #000;
}

.weather-app {
  background: #f2e8de;
  padding: 30px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 700px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
}

.sok {
  font-size: 14px;
}

.divsok {
  color: black;
}

.temperature {
  color: black;
  position: relative;
  top: -15px;
}

.sun {
  font-size: 55px;
  text-align: center;
}
.sunsmall {
  font-size: 20px;
}
.todaydegree {
  font-size: 50px;
  font-family: "DM Serif Display", serif;
  position: relative;
  left: -25px;
  color: black;
}

.units {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  color: black;
  position: relative;
  top: -34px;
}

.bilde {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  color: black;
  position: relative;
  top: -15px;
}

.dayandtime {
  color: black;
  font-size: 15px;
  list-style: none;
  font-family: monospace;
  position: relative;
  right: -25px;
  top: 7px;
}

.today {
  background-color: white;
  margin: 0 auto;
  padding: 25px 0 10px 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
  text-align: center;
  color: black;
}
.todayinfo {
  font-size: 14px;
  font-family: monospace;
  text-align: left;
  color: black;
}

.nextweek {
  font-size: 14px;
  font-family: monospace;
  text-align: center;
  background-color: white;
  padding: 10px 20px 50px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
  color: black;
}

.weekdays {
  padding: 1px;
}

.d-flex {
  font-family: monospace;
  border-radius: 40px;
  color: black;
  column-gap: 10px;
}

.search-form {
  margin-bottom: 20px;
}

.github {
  color: black;
  text-align: left;
}

.hanne {
  color: black;
  font-size: 15px;
  list-style: none;
  font-family: monospace;
  text-align: left;
}

.test {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}

.todaydegree .active {
  color: black;
  cursor: default;
}

.todaydegree .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
